<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Novelec entreprise d'électricité générale et tertiaire, dépannage, domotique, rénovation"
    />
    <meta
      itemprop="description"
      content="Novelec entreprise d'électricité générale et tertiaire, dépannage, domotique, rénovation"
    />
    <meta
      property="og:description"
      content="Novelec entreprise d'électricité générale et tertiaire, dépannage, domotique, rénovation"
    />
    <meta
      name="keywords"
      content="électricité, électricien, domotique, dépannage, rénovation, chauffage, 43, haute-loire"
    />
    <meta name="Author" content="isaya" />
    <meta itemprop="image" content="/static/img/logo.png" />
    <meta property="og:image" content="/static/img/logo.png" />
    <title>Novelec électricité générale et tertiaire, Domotique</title>
    <meta itemprop="name" content="Novelec électricité générale et tertiaire, Domotique" />
    <meta property="og:title" content="Novelec électricité générale et tertiaire, Domotique" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="http://www.novelec43.fr" />
    <meta property="og:url" content="http://www.novelec43.fr" />
    <meta property="og:site_name" content="Novelec entreprise d'électricité générale et tertiaire" />

    <!--<link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">-->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">-->
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico" /><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <!--<link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">-->
    <meta name="theme-color" content="#AA0000" />

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Novelec" />
    <meta name="application-name" content="Novelec" />
    <!-- <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">-->
    <!-- <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#AA0000">-->
    <!-- Add to home screen for Windows -->
    <!--<meta name="msapplication-config" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/browserconfig.xml">-->
    <meta name="msapplication-TileColor" content="#AA0000" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- We use the full link to the CSS file in the rest of the tags -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Nunito&display=swap" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&display=swap" />
    </noscript>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-1KK4R70CX1"></script> 
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-1KK4R70CX1")
    </script> -->
    <script type="module" crossorigin src="/assets/index.82b53d4d.js"></script>
    <link rel="modulepreload" href="/assets/vendor.dbf499e9.js">
    <link rel="stylesheet" href="/assets/index.ef7e21a6.css">
  </head>
  <body class="has-navbar-fixed-top">
    <noscript> This is your fallback content in case JavaScript fails to load. </noscript>
    <div id="app"></div>
    
  </body>
</html>
